#diceframe{
    display: block;

    height: 60%;
    width: 80%;
    margin: 2.5% auto 2.5% auto;

    border: none;
}
/**************************/
#generate-button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
  }
  
  #randomNumber {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
  }