/*
    navbar CSS

    refs:
        flexbox         https://www.w3schools.com/css/css3_flexbox_container.asp
        media queries   https://www.w3schools.com/css/css3_mediaqueries.asp
        
*/

nav {
    background-color: lightgray;
    width: 95%;
    height: 45px;
  
    /* sticky navbar */
    position: fixed;
    top: 0%;
    z-index: 10;    /* navbar should always be infront */
}
  
.nav-item {
    height: 100%;
    padding: 2px;
    margin: 0px 10px 0px 10px;
}

/* highlight current link/page */
.selected{
    background-color: pink; /* test color change later*/
}


/*
    link styling for navbar
*/
a, button {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

a:hover, button:hover{
    text-decoration: underline;
    color: plum; 
    cursor: pointer;
}


/*
    responsive design
*/
#web-view{ display: block; }
#mobile-view{ display: none; }

@media only screen and (max-width: 500px){
    /* if browser window <= 500px then change main contents of navbar to dropdown */
    #web-view{ display: none; }
    #mobile-view{ display: block; }
}

/*
.dropdown-toggle::after {
    content: " ▼";
}

.dropdown-menu {
    position: absolute;
    top: 35px;
    left: -5px;
    background-color: lightgrey;
    border: 1px solid lightgray;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 9;
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu li a {
    display: block;
    padding: 10px;
}

.dropdown-menu li a:hover {
    background-color: plum;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
}

.show .dropdown-menu {
    display: block;
}
*/