<!--
  navbar HTML

  refs:
    angular menu    https://v7.material.angular.io/components/menu/overview
-->

<!-- TODO add *ngIf="isLoggedIn" where necessary once login is implemented -->
<nav class="nowrap-row">

  <!-- main menu items: gamefinder, characters, tools, about -->
  <div id="web-view">

    <a mat-button class="nav-item" routerLink="/gamefinder" routerLinkActive="selected" (click)="setActiveLink('GameFinder')">GameFinder</a>
    <a mat-button class="nav-item" routerLink="/characters" routerLinkActive="selected" (click)="setActiveLink('Characteres')">Characters</a>

    <!-- Tools dropdown: GM Screen, Dice Roller-->
    <button mat-button class="nav-item" [matMenuTriggerFor]="toolsMenu">Tools</button>

    <mat-menu #toolsMenu="matMenu" xPosition="after">
      <button mat-menu-item routerLink="/gmscreen" routerLinkActive="selected" (click)="setActiveLink('GM Screen')">GM Screen</button>
      <button mat-menu-item routerLink="/diceroller" routerLinkActive="selected" (click)="setActiveLink('Dice Roller')">Dice Roller</button>
    </mat-menu>


    <a mat-button class="nav-item" routerLink="/about" routerLinkActive="selected" (click)="setActiveLink('About')">About</a>

  </div>



  <!-- main menu dropdown version (mobile view) -->
  <div id="mobile-view">
    <!-- display a menu icon and the name of the active link -->
    <a class="nav-item" [matMenuTriggerFor]="mainMenu">
      <mat-icon>menu</mat-icon>
      {{ activeLink }}
    </a>

    <!-- main menu items: gamefinder, characters, tools, about -->
    <mat-menu #mainMenu="matMenu" xPosition="after">
      <a mat-menu-item routerLink="/gamefinder" routerLinkActive="selected" (click)="setActiveLink('GameFinder')">GameFinder</a>
      <a mat-menu-item routerLink="/characters" routerLinkActive="selected" (click)="setActiveLink('Characters')">Characters</a>

      <button mat-menu-item [matMenuTriggerFor]="toolsMenu">Tools</button>

      <a mat-menu-item routerLink="/about" routerLinkActive="selected" (click)="setActiveLink('About')">About</a>
    </mat-menu>

    <!-- tools submenu: gm screen, dice roller -->
    <mat-menu #toolsMenu="matMenu">
      <a mat-menu-item routerLink="/gmscreen" routerLinkActive="selected" (click)="setActiveLink('GM Screen')">GM Screen</a>
      <a mat-menu-item routerLink="/diceroller" routerLinkActive="selected" (click)="setActiveLink('Dice Roller')">Dice Roller</a>
    </mat-menu>
  </div>


  <!-- login & register | messages & profile icons, float right-->
  <div id="right-container">

    <a *ngIf="isLoggedIn != true" class="nav-item" routerLink="/register" routerLinkActive="selected" (click)="setActiveLink('Register')">Register</a>
    <a *ngIf="isLoggedIn != true" class="nav-item" routerLink="/login" routerLinkActive="selected" (click)="setActiveLink('Login')">Login</a>

    <!-- messages icon -->

    <!--
    <a *ngIf="isLoggedIn" class="nav-item" routerLink="/messages" routerLinkActive="selected" (click)="setActiveLink('Messages')">
      <mat-icon>forum</mat-icon>
    </a>
    -->

    <!--
      profile dropdown: profile, settings, logout
      only viewable if logged in
    -->
    <!-- profile icon -->
    <a *ngIf="isLoggedIn" class="nav-item" [matMenuTriggerFor]="profileMenu">
      <mat-icon>account_circle</mat-icon>
    </a>

    <mat-menu #profileMenu="matMenu" xPosition="before">
      <button mat-menu-item [routerLink]="'/profile/' + currentUser" routerLinkActive="selected" (click)="setActiveLink('Profile')">Profile</button>
      <button mat-menu-item routerLink="/settings" routerLinkActive="selected" (click)="setActiveLink('Settings')">Settings</button>
      <button mat-menu-item routerLink="/logout" routerLinkActive="selected" (click)="setActiveLink('Logout')">Logout</button> <!-- set activelink to 'logout'? routerlinkactive=logout?? -->
    </mat-menu>



  </div>

</nav>
