<!-- <h1 mat-dialog-title>{{ data.npc.name }}</h1> -->

<div mat-dialog-content class="content"> 
    <div class="nowrap-row">
        <h3 *ngIf="!editing">{{ data.npc.name }}</h3>
        <input *ngIf="editing" class="block-input" placeholder="{{ data.npc.name }}">
        
        <div class="button-container">
            <mat-icon *ngIf="!editing" (click)="edit()">edit</mat-icon>

            <button mat-button *ngIf="editing" (click)="save()" cdkFocusInitial>Save</button>
            <button mat-button *ngIf="editing" (click)="cancel()">Cancel</button>
        </div>
    </div>
    
    <h4 *ngIf="!editing">Lv {{ data.npc.level }} {{ data.npc.class }}</h4>
    <div *ngIf="editing">
        Lv
        <input class="number-input" placeholder="{{ data.npc.level }}">
        <input placeholder="{{ data.npc.class }}">
    </div>

    <!-- stats -->
    <h4>Stats</h4>
    <div>
        <div><!-- strength -->
            Str
            {{ statTool.calcMod( data.npc.stats.get('str') ) }}
            {{ data.npc.stats.get('str') }}
        </div>

        <div><!-- dexterity -->
            Dex
            {{ statTool.calcMod( data.npc.stats.get('dex') ) }}
            {{ data.npc.stats.get('dex') }}
        </div>

        <div><!-- constitution -->
            Con
            {{ statTool.calcMod( data.npc.stats.get('con') ) }}
            {{ data.npc.stats.get('con') }}
        </div>

        <div><!-- intelligence -->
            Int
            {{ statTool.calcMod( data.npc.stats.get('int') ) }}
            {{ data.npc.stats.get('int') }}
        </div>

        <div><!-- wisdom -->
            Wis
            {{ statTool.calcMod( data.npc.stats.get('wis') ) }}
            {{ data.npc.stats.get('wis') }}
        </div>

        <div><!-- charisma -->
            Cha
            {{ statTool.calcMod( data.npc.stats.get('cha') ) }}
            {{ data.npc.stats.get('cha') }}
        </div>
    </div>
    

    <h4>Notes</h4>
    <p *ngIf="!editing">{{ data.npc.notes }}</p>
    <textarea *ngIf="editing" class="block-display">{{ data.npc.notes }}</textarea>

</div>