.content{
    padding: 10px;
}

.button-container{
    padding: 10px;

}

.number-input{
    width: 25px;
    margin-right: 2px;
}

textarea{
    width: 95%;
}

table{
    width: 90%;
    margin: 0px auto 15px auto;
}

td{
    padding: 0px 1px 0px 1px;
    text-align: center;
}

.tableInput{
    width: 25px;
    margin-left: 5px;

}

h3, h4{
    margin: 10px 0px 0px 0px;

}