<!-- <h1 mat-dialog-title>{{ data.npc.name }}</h1> -->

<div mat-dialog-content class="content"> 
    <div class="nowrap-row">
        <h3 *ngIf="!editing">{{ data.npc.name }}</h3>
        <input *ngIf="editing" class="block-input" placeholder="{{ data.npc.name }}">
        
        <div class="button-container">
            <mat-icon *ngIf="!editing" (click)="edit()">edit</mat-icon>

            <button mat-button *ngIf="editing" (click)="save()" cdkFocusInitial>Save</button>
            <button mat-button *ngIf="editing" (click)="cancel()">Cancel</button>
        </div>
    </div>
    
    <h4 *ngIf="!editing">Lv {{ data.npc.level }} {{ data.npc.class }}</h4>
    <div *ngIf="editing">
        Lv
        <input class="number-input" type="number" id="LV" name="lv" min="1" max="20" placeholder="{{ data.npc.level }}">
        <input placeholder="{{ data.npc.class }}">
    </div>

    <!-- stats -->
    <p>HP: cHP/mHP</p>

    <table>
        <tr>
            <td>AC</td>
            <td>Initiative</td>
            <td>Speed</td>
        </tr>

        <tr>
            <td>(AC)</td>    <!-- armor class -->
            <td>{{ statTool.calcMod( data.npc.stats.get('dex') ) }}</td> <!-- dex modifier -->
            <td>(spd)</td> <!-- speed -->
        </tr>
    </table>

    <table>

        <!-- stat names -->
        <tr>
            <td>Str</td>
            <td>Dex</td>
            <td>Con</td>
            <td>Int</td>
            <td>Wis</td>
            <td>Cha</td>
        </tr>

        <!-- stat modifiers -->
        <tr>
            <td>{{ statTool.calcMod( data.npc.stats.get('str') ) }}</td>
            <td>{{ statTool.calcMod( data.npc.stats.get('dex') ) }}</td>
            <td>{{ statTool.calcMod( data.npc.stats.get('con') ) }}</td>
            <td>{{ statTool.calcMod( data.npc.stats.get('int') ) }}</td>
            <td>{{ statTool.calcMod( data.npc.stats.get('wis') ) }}</td>
            <td>{{ statTool.calcMod( data.npc.stats.get('cha') ) }}</td>
        </tr>

        <!--
        <tr *ngIf="editing">
            <td>{{ statTool.calcMod( document.getElementById('STR').value ) }}</td>
            <td>{{ statTool.calcMod( document.getElementById('DEX').value ) }}</td>
            <td>{{ statTool.calcMod( document.getElementById('CON').value ) }}</td>
            <td>{{ statTool.calcMod( document.getElementById('INT').value ) }}</td>
            <td>{{ statTool.calcMod( document.getElementById('WIS').value ) }}</td>
            <td>{{ statTool.calcMod( document.getElementById('CHA').value ) }}</td>
        </tr>
        -->

        <!-- stats -->
        <tr *ngIf="!editing">
            <td>{{ data.npc.stats.get('str') }}</td>
            <td>{{ data.npc.stats.get('dex') }}</td>
            <td>{{ data.npc.stats.get('con') }}</td>
            <td>{{ data.npc.stats.get('int') }}</td>
            <td>{{ data.npc.stats.get('wis') }}</td>
            <td>{{ data.npc.stats.get('cha') }}</td>
        </tr>

        <tr *ngIf="editing">
            <td><input class="tableInput" type="number" id="STR" name="str" min="1" max="30" placeholder="{{ data.npc.stats.get('str') }}"></td>
            <td><input class="tableInput" type="number" id="DEX" name="dex" min="1" max="30" placeholder="{{ data.npc.stats.get('dex') }}"></td>
            <td><input class="tableInput" type="number" id="CON" name="con" min="1" max="30" placeholder="{{ data.npc.stats.get('con') }}"></td>
            <td><input class="tableInput" type="number" id="INT" name="int" min="1" max="30" placeholder="{{ data.npc.stats.get('int') }}"></td>
            <td><input class="tableInput" type="number" id="WIS" name="wis" min="1" max="30" placeholder="{{ data.npc.stats.get('wis') }}"></td>
            <td><input class="tableInput" type="number" id="CHA" name="cha" min="1" max="30" placeholder="{{ data.npc.stats.get('cha') }}"></td>
        </tr>

    </table>
    

    <h4>Notes</h4>
    <p *ngIf="!editing">{{ data.npc.notes }}</p>
    <textarea *ngIf="editing" class="block-display">{{ data.npc.notes }}</textarea>

</div>