<!DOCTYPE html>
<html>
    <mat-toolbar>
        <mat-toolbar-row>
          <span>Welcome to Gamefinder, the premier online community for Dungeons and Dragons players!</span>
        </mat-toolbar-row>
      </mat-toolbar>

      <div class="container">
        <mat-card>
          <mat-card-title>If you're new to the world of D&D, allow us to give you a brief overview. </mat-card-title>
          <mat-card-content>
            <p>Dungeons and Dragons is a tabletop roleplaying game that has been captivating players for over 40 years. It's a game of imagination, where players create unique characters and embark on epic adventures in a fantasy world. One player, known as the Dungeon Master (DM), creates the story and plays the role of all the non-player characters, while the other players control their own characters and make decisions that shape the course of the story.</p>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-title>Gamefinder</mat-card-title>
          <mat-card-content>
            <p>Dungeons and Dragons is a game that's meant to be played with others, and that's where Gamefinder comes in. Our website is designed to help players connect with each other, no matter where they are in the world. With our easy-to-use platform, you can search for other players, join existing games, or even create your own.</p>
            <p>Gamefinder is more than just a place to find other players, though. We've built in a range of tools to make your D&D experience even better. Create up to five different characters, complete with their own spell sheets. Use our built-in dice roller to keep the game fair and fun. And if you're a Dungeon Master, you'll love our suite of tools designed specifically to help you run your games more smoothly.</p>
            <p>So whether you're a seasoned D&D veteran or just getting started, Gamefinder is the perfect place to find the people and tools you need to take your game to the next level. Sign up today and join the adventure!</p>
          </mat-card-content>
        </mat-card>
      </div>

</html>
