/*
    profile component CSS

    refs:
        rounded corners     https://www.w3schools.com/css/css3_borders.asp
*/

/* overwrite style.css, align items at top */
.nowrap-row{
    align-items: flex-start;
}

/* float button container on the right, add margins of the left and right */
#button-container{
    margin: 0% 2.5% 0% 2.5%; /* top right bottom left */
}

/* add margins to left and right */
.button{
    margin: 0% 2.5% 0% 2.5%; /* top right bottom left */
}

/* add margins to the top, right, and bottom */
input, select{
    margin: 2.5% 2.5% 2% 0%;
}

/* make input display as a block (appears in own line) */
.block-display{
    display: block;
}

#tag-container{
    width: 95%;
    margin: 0px auto 0px auto;
}

.tag{
    font-size: small;
    padding: 5px;
    margin: 5px 5px 0px 0px;

    border-radius: 25px;
    background-color: lightgrey;
    
}

textarea{
    width: 95%;
    height: 75px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 800px){
    /* overwrite style.css, remain a row always */
    .flex-row{
        flex-direction: row;
    }
}