.profile-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.profile-header {
  text-align: center;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.display-name {
  font-size: 24px;
  margin: 10px 0;
}

.username {
  font-size: 18px;
  color: gray;
}

.email, .location, .status {
  margin: 5px 0;
}

.profile-details {
  margin-top: 20px;
}

.profile-section {
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px lightgray;
}

.profile-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.profile-section p {
  margin-left: 30px;
  margin-bottom: 10px;
}

.about-me, .available-time, .time-zone {
  margin: 5px 0;
}

.tags li {
  display: inline-block;
  background-color: lightgray;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

input, select, textarea {
  width: 60%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid lightgray;
  box-sizing: border-box;
  display: inline-block;
}

/* float button container on the right, add margins of the left and right */
#button-container{
  float: right;
  padding: 10px;
  margin: 0% 2.5% 0% 2.5%; /* top right bottom left */
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #0062cc;
}

.icon:hover {
  cursor: pointer;
}

.profile-section input,
.profile-section textarea {
  width: 100%;
}

.profile-section input[type="time"] {
  width: 49%
}

.profile-section .time-divider {
  margin-left: 0px;
}

/*----------------------------------------------------------------------
    Overwrite style.css
----------------------------------------------------------------------*/

/* align items at top */
.nowrap-row{
    align-items: flex-start;
}

@media only screen and (max-width: 800px){
    /* remain a row always */
    .flex-row{
        flex-direction: row;
    }
}
