/*
    profile component CSS

    refs:
        rounded corners     https://www.w3schools.com/css/css3_borders.asp
*/

.contents{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* float button container on the right, add margins of the left and right */
#button-container{
  padding: 10px;
  margin: 0% 2.5% 0% 2.5%; /* top right bottom left */
}

/* add margins to left and right */
.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #0062cc;
}

/* add margins to the top, right, and bottom */
input, select{
    margin: 2.5% 2.5% 2% 0%;
}

/* make input display as a block (appears in own line) */
.block-display{
    display: block;
}

#tag-container {
  margin: 20px 0;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
}

.tag{
    font-size: small;
    padding: 5px;
    margin: 5px 5px 0px 0px;

    border-radius: 25px;
    background-color: lightgrey;

}

textarea{
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 95%;
  height: 75px;
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
  text-align: center;
}

img {
  border: 2px solid #ccc;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.status {
  font-size: 16px;
  color: #007bff;
}

mat-icon {
  cursor: pointer;
}

.pfp {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 30px;
}

.pfp-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.pfp:hover .pfp-hover {
  opacity: 1;
}

.pfp-hover p {
  font-size: 14px;
  color: #333;
  text-align: center;
  margin: 0;
}

.pfp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*----------------------------------------------------------------------
    Overwrite style.css
----------------------------------------------------------------------*/

/* align items at top */
.nowrap-row{
    align-items: flex-start;
}

@media only screen and (max-width: 800px){
    /* remain a row always */
    .flex-row{
        flex-direction: row;
    }
}
