<div id="contents">
    <!--
        contains pfp & (if user's page) edit symbol
        row display
    -->
    <div id="header-row">
        <!-- pfp & display name -->
        <div>
            <!-- profile picture -->
            <img [src]="getPFP()" alt="profile picture">

            <!-- display name, if editing replace with input box preloaded with current display name -->
            <h2 *ngIf="!editing">{{ displayName }}</h2>
            <input *ngIf="editing" class="block-input" placeholder="{{ displayName }}">
        </div>

        <div style="float:right">
            <!--
            edit symbol
            click to enter editing mode
            only show if not currently editing AND on own page
            -->
            <svg 
              (click)="edit()"
              *ngIf="sameUser && !editing"
              xmlns="http://www.w3.org/2000/svg" 
              width="16" height="16" fill="currentColor" 
              class="bi bi-pencil-square" 
              viewBox="0 0 16 16"
            >
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>

            <!-- if editing replace edit symbol with save and cancel buttons -->
            <button *ngIf="editing" (click)="save()" type="button" >save</button>
            <button *ngIf="editing" (click)="cancel()" type="button" >cancel</button>
        </div>
        

    </div>

    <!--
        contains profile info
        row display, split between tags & biography
        column display in mobile
    -->
    <div class="flex-row">
        <!-- email, location, status, & tags -->
        <div class="half-col">
            <!-- TODO hide email and location based on privacy settings -->

            <!-- 
                email, if editing replace with input box preloaded with current email
                always visible if on own page
            -->
            <a *ngIf="(sameUser && !editing)" href="mailto: {{ email }}"> {{ email }}</a>
            <input *ngIf="editing == true" class="block-input" type="email" placeholder="{{ email }}">

            <!-- location, if editing replace with input box preloaded with current location -->
            <p *ngIf="(sameUser && !editing)">{{ location }}</p>
            <input *ngIf="editing == true" class="block-input" placeholder="{{ location }}">

            <!-- status, if editing replace with dropdown -->
            <p *ngIf="!editing">Status: {{ status }}</p>
            <select *ngIf="editing" name="status">
                <option value="Currently in a Campaign">Currently in a Campaign</option>
                <option value="Looking for a Campaign">Looking for a Campaign</option>
            </select><br>

            Tags
            <!-- question circle, hover for info on tags -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-question-circle help" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
            </svg>

            <div>
                <!-- TODO insert tags -->
            </div>

        </div>

        <!-- biography & availability -->
        <div class="half-col">
            <!-- profile biography, if editing replace with input box preloaded with current biography -->
            <p *ngIf="!editing">{{ bio }}</p>
            <input *ngIf="editing == true" class="block-input" placeholder="{{ bio }}">

            <!-- timezone, change in settings -->
            {{ timezone }}

            <!-- question circle, hover for info on time blocks -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-question-circle help" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
            </svg>

            <!-- TODO display availability (as table?) -->
        </div>

    </div>

    <!--
        character links
        row display
        column display in mobile
    -->
    <div>
        <!-- display characters in row (for each?)-->
    </div>
</div>