<div id="button-container" class="nowrap-row">

  <!-- edit symbol, click to enter editing mode -->
  <mat-icon class="icon" *ngIf="sameUser && !editing" (click)="edit()">edit</mat-icon>

  <!-- if editing: replace edit symbol with save and cancel buttons -->
  <button *ngIf="editing" (click)="save()" class="button" type="button" >save</button>
  <button *ngIf="editing" (click)="cancel()" class="button" type="button" >cancel</button>

  <!-- if not the same user: show friend and cancel buttons -->
  <button *ngIf="!sameUser && isLoggedIn && !isFriend" (click)="friend()" class="button" type="button" >Add Friend</button>
  <button *ngIf="!sameUser && isLoggedIn && isFriend" (click)="unfriend()" class="button" type="button" >Remove Friend</button>
  <button *ngIf="!sameUser && isLoggedIn && !isBlocked" (click)="block()" class="button" type="button" >Block User</button>
  <button *ngIf="!sameUser && isLoggedIn && isBlocked" (click)="unblock()" class="button" type="button" >Unblock User</button>
</div>

<div class="profile-container" *ngIf="!currentUserIsBlocked && userExists">

  <div class="profile-header">
      <img [src]="getPFP()" alt="Profile Picture" class="profile-picture">
      <br>
      <p style="display: inline;" *ngIf="editing">Display Name: </p>
      <h1 *ngIf="!editing" class="display-name">{{ displayName }}</h1>
      <input *ngIf="editing" type="text" [(ngModel)]="displayName" class="edit-input">

      <p *ngIf="!editing" class="username">@{{ username }}</p>
      <a class="email" *ngIf="(!editing && sameUser) || (!editing && !sameUser && privacyLevel=='Public') || (!editing && !sameUser && privacyLevel=='Friends Only' && isFriend)" href="mailto: {{ email }}">{{ email }}</a>
      <br>
      <p style="display: inline;" *ngIf="editing">Location: </p>
      <p class="location" *ngIf="(!editing && sameUser) || (!editing && !sameUser && privacyLevel=='Public') || (!editing && !sameUser && privacyLevel=='Friends Only' && isFriend)">{{ location }}</p>
      <input *ngIf="editing" type="text" [(ngModel)]="location" class="edit-input">
      <br>
      <label style="display: inline;">Status: </label>
      <p *ngIf="!editing" style="display: inline;" id="status">{{ status }}</p>
      <select *ngIf="editing" name="status" style="display: inline;" [(ngModel)]="status">
          <option value="" selected disabled hidden>{{ status }}</option>
          <option value="Currently in a Campaign">Currently in a Campaign</option>
          <option value="Looking for a Campaign">Looking for a Campaign</option>
      </select>

  </div>

  <div class="profile-details">

    <div class="profile-section">
      <h2>About Me</h2>
      <p *ngIf="!editing" class="about-me">{{ bio }}</p>
      <textarea *ngIf="editing" [(ngModel)]="bio" class="edit-input"></textarea>
    </div>

    <div class="profile-section">
      <h2>Availability</h2>

      <p *ngIf="!editing" class="available-time">{{ availability }}</p>
      <input type="time" id="start-time" name="start-time" [(ngModel)]="start_time" *ngIf="editing">
      <p class="time-divider" style="display: inline;" *ngIf="editing">-</p>
      <input type="time" id="end-time" name="end-time" [(ngModel)]="end_time" *ngIf="editing">

      <p *ngIf="!editing" class="time-zone">{{ timezone }}

        <mat-icon *ngIf="!editing"
              class="help"
              matTooltip="Time Zone can be edited in profile settings"
              matTooltipPosition="after"
              matTooltipHideDelay="2000"
          >
              help_outline
          </mat-icon>
      </p>

    </div>

    <div class="profile-section">
      <h2>Tags
        <mat-icon
          class="help"
          matTooltip="Tags are used as descriptors to help others know what kind of player you are."
          matTooltipPosition="after"
          matTooltipHideDelay="2000"
      >
          help_outline
      </mat-icon>

      <mat-icon class="icon" *ngIf="editing" (click)="openDialog()">edit</mat-icon>
      </h2>

      <ul class="tags">
        <li *ngFor="let tag of filterTags(this.tags)">{{ tag }}</li>
      </ul>
    </div>

  </div>


</div>

<div *ngIf="currentUserIsBlocked">
  This user has blocked you.
</div>

<div *ngIf="!userExists">
  This user does not exist.
</div>
