<h1 mat-dialog-title>Edit Tags</h1>
<div mat-dialog-content>

    <div>
        <h2>Mode</h2>

        <mat-checkbox [checked]="tags.get('in-person')">
            in-person
        </mat-checkbox>

        <mat-checkbox [checked]="tags.get('online')">
            online
        </mat-checkbox>
    </div>

    <div>
        <h2>Role</h2>

        <mat-checkbox [checked]="tags.get('beginner player')">
            beginner player
        </mat-checkbox>

        <mat-checkbox [checked]="tags.get('experienced player')">
            experienced player
        </mat-checkbox>

        <mat-checkbox [checked]="tags.get('beginner GM')">
            beginner GM
        </mat-checkbox>

        <mat-checkbox [checked]="tags.get('experienced GM')">
            experienced GM
        </mat-checkbox>

    </div>

    <div>
        <h2>Campaign Type</h2>

        <mat-checkbox [checked]="tags.get('short')">
            short
        </mat-checkbox>

        <mat-checkbox [checked]="tags.get('long')">
            long
        </mat-checkbox>

        <mat-checkbox [checked]="tags.get('episodic')">
            episodic
        </mat-checkbox>
    </div>

    <div>
        <h2>Genre</h2>

        <!-- TODO add genre tags -->
    </div>

</div>

<div mat-dialog-actions>
    <button mat-button (click)="ok()">Ok</button>
    <button mat-button (click)="cancel()">Cancel</button>
</div>
