<div class="content">
    <div class="nowrap-row">
        <div>
            <h1 style="display: inline;">Game Master Screen </h1>

            <!-- question circle, hover for gm screen explanation -->
            <mat-icon 
                class="help"
                matTooltip="add gm screen description" 
                matTooltipPosition="after"
                matTooltipHideDelay="2000"
            >
                help_outline
            </mat-icon>
        </div>

        <div>
            <mat-icon (click)="add()">add_circle</mat-icon>
        </div>
    </div>

    <div class="flex-row container">
        <div *ngFor="let npc of this.npcs">
            <div *ngIf="npc == null" class="rounded-block empty">
                <mat-icon class="plus-icon">add</mat-icon>
            </div>
    
            <div *ngIf="npc != null" class="rounded-block" (click)="openDialog(npc)">
                <h3>{{ npc.name }}</h3>
                <h4>Lv {{ npc.level }} {{ npc.class }}</h4>

                <!-- stats -->
                <h4>Stats</h4>
                <div>
                    Current HP
                    Max HP
                    Hit Dice
                </div>

                <div>
                    <div><!-- armor class -->
                        AC
                        (insert armor class)
                    </div>
                    
                    <div><!-- initiative (dex modifier) -->
                        Initiative
                        {{ statTool.calcMod( npc.stats.get('dex') ) }}<!-- dex modifier -->
                    </div>

                    <div><!-- speed -->
                        Speed
                        (insert speed)
                    </div>
                    
                </div>
                
                <div>
                    <div><!-- strength -->
                        Str
                        {{ statTool.calcMod( npc.stats.get('str') ) }}
                        {{ npc.stats.get('str') }}
                    </div>

                    <div><!-- dexterity -->
                        Dex
                        {{ statTool.calcMod( npc.stats.get('dex') ) }}
                        {{ npc.stats.get('dex') }}
                    </div>

                    <div><!-- constitution -->
                        Con
                        {{ statTool.calcMod( npc.stats.get('con') ) }}
                        {{ npc.stats.get('con') }}
                    </div>

                    <div><!-- intelligence -->
                        Int
                        {{ statTool.calcMod( npc.stats.get('int') ) }}
                        {{ npc.stats.get('int') }}
                    </div>

                    <div><!-- wisdom -->
                        Wis
                        {{ statTool.calcMod( npc.stats.get('wis') ) }}
                        {{ npc.stats.get('wis') }}
                    </div>

                    <div><!-- charisma -->
                        Cha
                        {{ statTool.calcMod( npc.stats.get('cha') ) }}
                        {{ npc.stats.get('cha') }}
                    </div>
                </div>
                
    
            </div>
        </div>
    </div>

</div>  