.container{
    width: 90%;
    margin: 25px auto 0px auto;
}

.rounded-block{
    background-color: lightgrey;

    width: 250px;
    height: 250px;

    border-radius: 25px;
    padding: 5px;
    margin: 5px 5px 5px 5px;
}

.plus-icon{
    font-size: 50px;
    height: 50px;
    width: 50px;
    margin: 100px 100px 100px 100px;
}

table{
    width: 90%;
    margin: 0px auto 10px auto;
}

td{
    padding: 0px 1px 0px 1px;
    text-align: center;
}

/* edit spacing of headers 3 & 4 for GM Screen only */
h3, h4{
    margin: 10px 0px 0px 0px;
}

