<div class="content">
    <div>
        <h1 style="display: inline;">Game Master Screen </h1>

        <!-- question circle, hover for gm screen explanation -->
        <mat-icon 
            class="help"
            matTooltip="add gm screen description" 
            matTooltipPosition="after"
            matTooltipHideDelay="2000"
        >
            help_outline
        </mat-icon>
    </div>

    <div class="flex-row container">
        <div *ngFor="let npc of this.npcs">
            <div *ngIf="npc == null" class="rounded-block empty">
                <mat-icon class="plus-icon">add</mat-icon>
            </div>
    
            <div *ngIf="npc != null" class="rounded-block">
                <h2>{{ npc.name }}</h2>
                <h3>{{ npc.class }}</h3>
    
            </div>
        </div>
    </div>

    <!--<div>
        {{ this.test_calcMod() }}
    </div>-->

</div>  