<!--
    Characters component HTML

    refs:
        accordion   https://v5.material.angular.io/components/expansion/overview
-->

<h1>Characters</h1>

<!-- 
    external accordion: contains an expansion-panel for each character
    only let one (character) panel be open at a time
-->
<mat-accordion multi="false">
    
    <!--
        Character panel
    -->
    <mat-expansion-panel *ngFor="let character of this.characters">

        <!-- name of the panel: get from character's name -->
        <mat-expansion-panel-header>
            {{ character.name }}
        </mat-expansion-panel-header>

        <!-- 
            internal accordion: contains panels nested inside (character)
            let multiple be open at once
        -->
        <mat-accordion multi="true">

            <!-- panel 1 -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Basics
                </mat-expansion-panel-header>
            
                    
                  <div class="container">
                    <form action="/action_page.php">

                      <!-- Character name enter form -->
                      <div class="row">
                        <div class="col-25">
                          <label for="fname">Full Name</label>
                        </div>
                        <div class="col-75">
                          <input type="text" id="fname" name="name" placeholder="Your characters name..">
                        </div>
                      </div>

                      <!-- Character race enter form -->
                      <div class="row">
                        <div class="col-25">
                          <label for="race">Race</label>
                        </div>
                        <div class="col-75">
                          <input type="text" id="race" name="race" placeholder="Your characters race (ex. human)..">
                        </div>
                      </div>
                      
                      <!-- Class is drop down, no artificers here :/ -->
                      <div class="row">
                        <div class="col-25">
                          <label for="class">Class</label>
                        </div>
                        <div class="col-75">
                          <select id="class" name="class">
                            <option value="barbarian">Barbarian</option>
                            <option value="bard">Bard</option>
                            <option value="cleric">Cleric</option>
                            <option value="druid">Druid</option>
                            <option value="fighter">Fighter</option>
                            <option value="monk">Monk</option>
                            <option value="paladin">Paladin</option>
                            <option value="ranger">Ranger</option>
                            <option value="rogue">Rogue</option>
                            <option value="sorcerer">Sorcerer</option>
                            <option value="warlock">Warlock</option>
                            <option value="wizard">Wizard</option>
                          </select>
                        </div>
                      </div>
                      

                      <!-- Subclass is self entered -->
                      <div class="row">
                        <div class="col-25">
                          <label for="subclass">Subclass</label>
                        </div>
                        <div class="col-75">
                          <input type="text" id="subclass" name="subclass" placeholder="Your subclass..">
                        </div>
                      </div>

                      <!-- enter level, max twenty, min 1 -->
                      <div class="col-25">
                        <label for="level">Level</label>
                      </div>
                      <input type="number" id="level" name="level" min="1" max="20">


                      <!-- penter alignment -->
                      <div class="row">
                        <div class="col-25">
                          <label for="alignment">Alignment</label>
                        </div>
                        <div class="col-75">
                          <select id="alignment" name="alignment">
                            <option value="LG">Lawful Good</option>
                            <option value="TG">True Good</option>
                            <option value="CG">Chaotic Good</option>
                            <option value="LN">Lawful Neutral</option>
                            <option value="TN">True Neutral</option>
                            <option value="CN">Chaotic Neutral</option>
                            <option value="LE">Lawful Evil</option>
                            <option value="TE">True Evil</option>
                            <option value="CE">Chaotic Evil</option>
                          </select>
                        </div>
                      </div>
                      
                      <!-- 
                        Im thinking of also adding a XP thing here that can do 
                        addition and change the level depending on the status here
                       -->

                     
        
                    </form>
                  </div>
            
            </mat-expansion-panel>
        
            <!-- panel 2 -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    panel 2
                </mat-expansion-panel-header>
            
                panel 2 content
        
            </mat-expansion-panel>

            <!-- panel 3 -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Features
                </mat-expansion-panel-header>
            
                 
                <body>
                  <form action="/form/submit" method="post">
                    <label for="text">Class Features:</label>
                    <br>
                    <textarea id="text" name="text" rows="12" cols="150"></textarea>
                    <br/>
                    <input type="submit" value="Submit">
                  </form>
                </body>
        
            </mat-expansion-panel>

        </mat-accordion>

    </mat-expansion-panel>

</mat-accordion>

