<!--
    Characters component HTML

    refs:
        accordion   https://v5.material.angular.io/components/expansion/overview
-->

<h1>Characters</h1>

<!-- 
    external accordion: contains an expansion-panel for each character
    only let one (character) panel be open at a time
-->
<mat-accordion multi="false">
    
    <!--
        Character panel
    -->
    <mat-expansion-panel *ngFor="let character of this.characters">

        <!-- name of the panel: get from character's name -->
        <mat-expansion-panel-header>
            {{ character.name }}
        </mat-expansion-panel-header>

        <!-- 
            internal accordion: contains panels nested inside (character)
            let multiple be open at once
        -->
        <mat-accordion multi="true">

            <!-- panel 1 -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    panel 1
                </mat-expansion-panel-header>
            
                    
                  <div class="container">
                    <form action="/action_page.php">
                      <div class="row">
                        <div class="col-25">
                          <label for="fname">Full Name</label>
                        </div>
                        <div class="col-75">
                          <input type="text" id="fname" name="name" placeholder="Your name..">
                        </div>
                      </div>
                      
                      
                      <div class="row">
                        <div class="col-25">
                          <label for="class">Class</label>
                        </div>
                        <div class="col-75">
                          <select id="class" name="class">
                            <option value="australia">Barbarian</option>
                            <option value="canada">Bard</option>
                            <option value="usa">Cleric</option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-25">
                          <label for="subject">Subject</label>
                        </div>
                        <div class="col-75">
                          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <input type="submit" value="Submit">
                      </div>
                    </form>
                  </div>
        
            
            </mat-expansion-panel>
        
            <!-- panel 2 -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    panel 2
                </mat-expansion-panel-header>
            
                panel 2 content
        
            </mat-expansion-panel>

            <!-- panel 3 -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    panel 3
                </mat-expansion-panel-header>
            
                panel 3 content
        
            </mat-expansion-panel>

        </mat-accordion>

    </mat-expansion-panel>

</mat-accordion>

