/* 
    added to make angular materials formt correctly ,
    also added to angular.json file under "styles"
*/
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; 

@import url("https://fonts.googleapis.com/icon?family=Material+Icons"); /* import google icons */

/* create margins on left & right, center content */
body{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

/* 
---------------------------------------------------------------------------------------
icon and image formatting
---------------------------------------------------------------------------------------
*/

.icon{
    width: 16px; 
    height: 16px;
}

/* help icon (circle with a question mark) */
.help{
    display: inline;
    width: 12px;
    height: 12px;
}


/* 
---------------------------------------------------------------------------------------
row formatting
---------------------------------------------------------------------------------------
*/

/* display items in a row, wrap around if necessary */
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* item takes up half of a row */
.half-col{
    width: 50%;
}

/* item takes up one third of a row */
.third-col{
    width: 30%;
    padding: 10px;
    margin: 0% 5% 0% 5%; /* top right bottom left */
}

/* in browser window <= 800px : */
@media only screen and (max-width: 800px){
    /* change from row to column view */
    .flex-row{
        flex-direction: column;
    }

    /* set width of items to 100% */
    .half-col, .third-col{
        width: 100%;
        margin: 2.5% 0% 2.5% 0%; /* top right bottom left */
    }
}