<p>gamefinder works!</p>
<mat-card>
    <mat-card-content>Welcome to game-finder!</mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>Explore friends and find groups to play dnd with!</mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>Make new character sheets!</mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>roll some dice!</mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>organize you games with our virtual dungeon master screen!</mat-card-content>
</mat-card>