<!-- 
    GameFinder HTML component
    
    refs:
        https://v5.material.angular.io/components/table/overview
-->
<h1>GameFinder</h1>
<mat-table [dataSource]="userArray">
    <!-- display name column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element" routerLink="'/profile/' + element.username">{{ element.displayName }}</mat-cell>    <!-- get display name from profile, link to user's profile -->
    </ng-container>

    <!-- tags column -->
    <ng-container matColumnDef="tags">
        <mat-header-cell *matHeaderCellDef>Tags</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.tags }}</mat-cell> <!-- tags saved as an array, potential issue with displaying?? -->
    </ng-container>

    <!-- TODO availability column -->
    <ng-container matColumnDef="availability">
        <mat-header-cell *matHeaderCellDef>Availability</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.availability }}</mat-cell>   <!-- display availibility -->
    </ng-container>

    <!-- location column -->
    <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef>Location</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.location }}</mat-cell>   <!-- display location -->
    </ng-container>

</mat-table>

<!--
<div>
    <div *ngFor="let user in profiles">
        <h4>{{ user.displayName }}</h4>
    </div>

</div>
-->